main {
  #insights-wrapper {
    height: 92vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #charts-row-1 {
    }

    #charts-row-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .chart-left,
      .chart-right {
        width: 50%;
      }

      @media only screen and (max-width: 1000px) {
        flex-direction: column;

        .chart-left,
        .chart-right {
          width: 100%;
        }
      }
    }

    @media only screen and (max-width: 1000px) {
      margin-top: 10rem;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 15rem;
    }
    @media only screen and (max-width: 500px) {
      margin-top: 20rem;
    }

    @media only screen and (max-width: 400px) {
      margin-top: 23rem;
    }
  }
}
